
{% extends 'base.html.twig' %}

{% block title %}{{ 'homepage.title'|trans|title }}{% endblock %}

{% block body %}
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 text-center">
                    <h1>{{ 'homepage.text'|trans|capitalize }}</h1>
                </div>
            </div>
        </div>
{% endblock %}


