{% extends 'base_admin.html.twig' %}

{% block sonata_admin_content %}
    <div class="widget clearfix">
        <div class="widget-header">
            <h5><i class="fa fa-edit"></i>{{ 'product.add_title'|trans|capitalize }}</h5>
        </div>
        <div class="widget-body">
            <div class="col-12">
                {% if error %}
                    <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.click_bank_id) }}
                {{ form_row(form.type) }}
                {{ form_row(form.price) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
