{% extends 'base_admin.html.twig' %}


{% block sonata_admin_content %}

    <div class="widget clearfix">
        <div class="widget-header">
            <h5><i class="fa fa-list"></i>{{ 'product.list_title'|trans|capitalize }}</h5>
        </div>
        <div class="widget-body">
            <div class="col-12">
                <table id="product_list" class="display datatable" style="width:100%">
                    <thead>
                    <tr>
                        <th>{{ 'product.name'|trans|capitalize }}</th>
                        <th>{{ 'product.clickbank_id'|trans|capitalize }}</th>
                        <th>{{ 'product.type'|trans|capitalize }}</th>
                        <th>{{ 'product.price'|trans|capitalize }}</th>
                        <th>{{ 'product.actions'|trans|capitalize }}</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
