{% extends 'base_admin.html.twig' %}

{% block sonata_admin_content %}
    <div class="widget clearfix">
        <div class="widget-header">
            <h5><i class="fa fa-user-plus"></i>{{ 'user.edit_profile_title'|trans|capitalize }}</h5>
        </div>
        <div class="widget-body">
            <div class="col-12">
                {% if error %}
                    <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.Password.first) }}
                {{ form_row(form.Password.second) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
