{% extends 'base_admin.html.twig' %}


{% block sonata_admin_content %}

    <div class="widget clearfix">
        <div class="widget-header">
            <h5><i class="fa fa-list"></i>{{ 'user.list_users_title'|trans|capitalize }}</h5>
        </div>
        <div class="widget-body">
            <div class="col-12">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="col-12">
                <table id="user_list" class="display datatable" style="width:100%">
                    <thead>
                    <tr>
                        <th>{{ 'user.list_username'|trans|capitalize }}</th>
                        <th>{{ 'user.list_users_email'|trans|capitalize }}</th>
                        <th>{{ 'user.list_users_is_active'|trans|capitalize }}</th>
                        <th>{{ 'user.list_users_role'|trans|capitalize }}</th>
                        <th>{{ 'user.list_users_last_login'|trans|capitalize }}</th>
                        <th>{{ 'user.list_users_actions'|trans|capitalize }}</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
