{% extends './base.html.twig' %}

{% block title %}{{ 'login.title'|trans|title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center user-login-header">
                <h1>{{ 'login.welcome_message'|trans|capitalize }}</h1>
                <p>{{ 'login.welcome_message_2'|trans|capitalize }}</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4 col-sm-8 col-xs-12 col-md-offset-4 col-sm-offset-2 login-image-main text-center">
                <div class="col-12">
                    {% if error %}
                        <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    {{ form_start(form) }}
                    {{ form_row(form.username, {'full_name': '_username'}) }}
                    {{ form_row(form.password, {'full_name': '_password'}) }}
                    {{ form_row(form._csrf_token, {'full_name': '_csrf_token'}) }}
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}




