
$brand-primary: darken(#428bca, 20%);
$backGroundMain : (left, #258dc8 0%,#d82ce8 100%);


@import '../bootstrap-sass-master/assets/stylesheets/bootstrap';
@import 'login_form';
@import "~jquery.gantt/dist/jquery-gantt.css";
@import "components/jGrowl";
@import "~toastr/toastr.scss";

@mixin backgroundGradient($amount) {
    background-image: -moz-linear-gradient($backGroundMain);
    background-image: -webkit-linear-gradient($backGroundMain);
    background-image: -ms-linear-gradient($backGroundMain);
}

body.default {
    @include backgroundGradient($backGroundMain) ;
}



