$backGroundWidgetColor : white;
$h1color: #c66285;
$borderColor: #ccc;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

h1 {
  font-size: 35px;
  color: $h1color;
}

h5 {
  font-size: 18px;
  text-transform: uppercase;
}
.widget {
  padding: 5px 0px 5px 0px;
  background: $backGroundWidgetColor;
  border: 1px solid $borderColor;
  @include border-radius(3px);
}

.widget-header {
  padding: 0px 15px;
  border-bottom: 3px solid $borderColor;
}
.widget-header .fa {
  margin-right: 5px;
}
.widget-body {
  padding: 15px;
}

.float-right {
  float:right;
}

.float-left {
  float:left;
}
.datatable th {
  text-align: center;

}