{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/datatable.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/app.js') }}"></script>
    <script src="{{ asset('build/datatable.js') }}"></script>

    {% include 'components/flashmessages.html.twig' %}

{% endblock %}