<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %} {{ 'welcome' |trans|title }} {% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}">
        {% endblock %}

    </head>
    <body class="{% block bodyClass %} default {% endblock bodyClass %}">
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}

        {% for label, messages in app.flashes(['warning', 'error','notice','success']) %}
            {% for message in messages %}
                <script> $( document ).ready(function() { $.jGrowl("{{ message }}", { theme: '{{ label }}' }); }); </script>
            {% endfor %}
        {% endfor %}


    </body>
</html>
