{% for label, messages in app.flashes(['warning', 'error','notice','success']) %}
    {% for message in messages %}
        <script>
            $( document ).ready(function() {
                toastr.{{ label }}('{{ message |trans|capitalize }}');
                //   jquery.jGrowl("{{ message }}", { theme: '{{ label }}', sticky: true });

            });
        </script>
    {% endfor %}
{% endfor %}